.main-menu.menu-light .navigation>li.active>a {
    box-shadow: 0 0 10px 1px rgb(15, 171, 100);
    color: #fff;
    font-weight: 400;
    background-color: #0fab64;
    border-radius: 4px;
}
.main-menu.menu-light .navigation>li.active>a {
    background: linear-gradient(118deg, #0fab64, rgb(15, 171, 100));
    box-shadow: 0 0 10px 1px rgb(15, 171, 100);
    color: #fff;
    font-weight: 400;
    border-radius: 4px;
}