<!-- <div class="order">
    <div class="card card-congratulation-medal">
        <div class="card-body">
            <h1>Orders</h1>
            <div class="outlet-row match-height">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="order-card-body">
                        <h5>Apna Sweets</h5>
                        <p class="card-details-text font-small-3">Vijay Nagar</p>

                        <div class="details-btn">
                            <a class="btn1" href="">View Details</a>
                            <a class="btn2" href="">OPEN</a>
                        </div>

                        <div class="detail-card">
                            <p class="detail-card-text1">Regular</p>
                            <p class="detail-card-text">Oct 05, 7:00PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- order   order  order  order  order order  order  order -->
<!-- <div class="order">
    <div class="card card-congratulation-medal">
        <div class="card-body">
            <div class="top-buttons">
                <a href=""><span>Cooking</span></a>
                <a href="">Ready</a>
                <a href="">PickUp</a>
            </div>
            <div class="row match-height">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card-body">
                        <div class="outlet-body">
                            <div class="parent1">
                                <div class="area-parent">
                                    <h5>anjai</h5>
                                    <p class="card-details-text font-small-3">avijaynagar</p>
                                </div>
                                <div class="detail-card">
                                    <p class="detail-card-text1">fjhyi56758</p>
                                    <p class="detail-card-text">21652654287</p>
                                </div>
                            </div>

                            <div class="order-btn">
                                <a class="btn1" href="">Mark as Ready</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card-body">
                        <div class="outlet-body">
                            <div class="parent1">
                                <div class="area-parent">
                                    <h5>anjai</h5>
                                    <p class="card-details-text font-small-3">avijaynagar</p>
                                </div>
                                <div class="detail-card">
                                    <p class="detail-card-text1">fjhyi56758</p>
                                    <p class="detail-card-text">21652654287</p>
                                </div>
                            </div>
                
                            <div class="order-btn">
                                <a class="btn1" href="">Mark as Ready</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card-body">
                        <div class="outlet-body">
                            <div class="parent1">
                                <div class="area-parent">
                                    <h5>anjai</h5>
                                    <p class="card-details-text font-small-3">avijaynagar</p>
                                </div>
                                <div class="detail-card">
                                    <p class="detail-card-text1">fjhyi56758</p>
                                    <p class="detail-card-text">21652654287</p>
                                </div>
                            </div>
                
                            <div class="order-btn">
                                <a class="btn1" href="">Mark as Ready</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- order   order  order  order  order order  order  order -->


<!-- ORDER KE UPER TOTAL SALES  ORDER KE UPER TOTAL SALES ORDER KE UPER TOTAL SALES -->

<!-- <section id=" home-page">
    <div class="row">
        <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
                <div class="media-body my-auto">
                    <h4 class="font-weight-normal  mb-0">Total Sales</h4>
                    <p class="card-text mb-0">0</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
            <div class="media">
                <div class="media-body my-auto">
                    <h4 class="font-weight-normal  mb-0">Total Order Count</h4>
                    <p class="card-text mb-0">0</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
            <div class="media">
                <div class="media-body my-auto">
                    <h4 class="font-weight-normal  mb-0">Total Discount</h4>
                    <p class="card-text mb-0">0</p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="media">
                <div class="media-body my-auto">
                    <h4 class="font-weight-normal  mb-0">Total Net Profit</h4>
                    <p class="card-text mb-0">0</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- ORDER KE UPER TOTAL SALES ORDER KE UPER TOTAL SALES  ORDER KE UPER TOTAL SALES  -->



<!--  ticket  ticket   ticket  ticket  ticket  ticket  ticket  -->
<!-- <div class="ticket">
    <div class="card card-congratulation-medal">
        <div class="card-body">
            <h1>Tickets </h1>
            <div class="row match-height">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card-body">
                        <div class="outlet-body">
                            <div class="parent1">
                                <div class="area-parent">
                                    <h5>Apna Sweets</h5>
                                </div>
                        
                            </div>
                            <div class="ticket-btn">
                                <h4>Ticket ID : <span>FBIN0012</span></h4>
                                <a class="" href="">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--  ticket  ticket   ticket  ticket  ticket  ticket  ticket  -->


<!-- ticket ke pass wala  -->
<!-- <div class="order">
    <div class="card card-congratulation-medal">
        <div class="card-body">
            <h1>Tickets</h1>
            <div class="row match-height">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card-body">
                        <div class="outlet1-body">
                            <div class="product">
                                <div class="ticket-parent">
                                    <h5>Product Name</h5>
                                    <p class="ticket-details-text">Pizza Bati</p>
                                </div>
                                <div class="product-ctn">
                                    <h5>Customer Name</h5>
                                    <p class="ticket-details-text">Anjali Bhayal</p>
                                </div>
                            </div>

                            <div class="product2">
                                <div class="ticket-parent">
                                    <h5>Issue</h5>
                                    <p class="ticket-details-text">Paneer Unfinished</p>
                                </div>
                                <div class="product-ctn">
                                    <h5>Description</h5>
                                    <p class="ticket-details-text">No Paneer Left in Inventory and also Food
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- promotion cards -->
<!-- <div class="order">
    <div class="card card-congratulation-medal">
        <div class="card-body">
            <h1>Offers</h1>
            <div class="row match-height">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="offfer-medal">
                        <div class="offer-card-body">
                            <h5>WELCOME <br>OFFER</h5>
                            <div class="offer-details-btn">
                                <a class="btn1" href="">EDIT</a>
                                <a class="btn2" href="">Delete</a>
                            </div>
                            <img src="assets/images/myimages/offer.png" class="congratulation-medal" alt="Medal Pic" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


 




<!--  -->