<div class="content-wrapper container-xxl ">
  <div class="content-body">
    <!-- Basic Alerts start -->
    <section id=" home-page">
      <div class="row">
        <div class="col-12">
          <div class="shadow-card">
            <div class="shadow-card-body statistics-body">
              <div class="row">
                <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Sales</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Order Count</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Discount</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Net Profit</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- outlet cards -->
    <div class="order">
      <div class="card card-congratulation-medal">
        <div class="card-body">
          <h1>All Outlets</h1>
          <div class="outlet-row match-height">
            <!-- Congratulations Card -->
            <div class="col-12 col-md-6 col-lg-4">
              <div class="">
                <div class="order-card-body">
                  <h5>Apna Sweets</h5>
                  <p class="card-details-text font-small-3">Vijay Nagar</p>

                  <div class="details-btn">
                    <a class="btn1" href="">View Details</a>
                    <a class="btn2" href="">OPEN</a>
                  </div>

                  <div class="detail-card">
                    <p class="detail-card-text1">Regular</p>
                    <p class="detail-card-text">Oct 05, 7:00PM</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="">
                <div class="order-card-body">
                  <h5>Apna Sweets</h5>
                  <p class="card-details-text font-small-3">Vijay Nagar</p>
            
                  <div class="details-btn">
                    <a class="btn1" href="">View Details</a>
                    <a class="btn2" href="">OPEN</a>
                  </div>
            
                  <div class="detail-card">
                    <p class="detail-card-text1">Regular</p>
                    <p class="detail-card-text">Oct 05, 7:00PM</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="">
                <div class="order-card-body">
                  <h5>Apna Sweets</h5>
                  <p class="card-details-text font-small-3">Vijay Nagar</p>
            
                  <div class="details-btn">
                    <a class="btn1" href="">View Details</a>
                    <a class="btn2" href="">OPEN</a>
                  </div>
            
                  <div class="detail-card">
                    <p class="detail-card-text1">Regular</p>
                    <p class="detail-card-text">Oct 05, 7:00PM</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <div class="outlet-row match-height">
              <!-- Congratulations Card -->
              <div class="col-12 col-md-6 col-lg-4">
                <div class="">
                  <div class="order-card-body">
                    <h5>Apna Sweets</h5>
                    <p class="card-details-text font-small-3">Vijay Nagar</p>
            
                    <div class="details-btn">
                      <a class="btn1" href="">View Details</a>
                      <a class="btn2" href="">OPEN</a>
                    </div>
            
                    <div class="detail-card">
                      <p class="detail-card-text1">Regular</p>
                      <p class="detail-card-text">Oct 05, 7:00PM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="">
                  <div class="order-card-body">
                    <h5>Apna Sweets</h5>
                    <p class="card-details-text font-small-3">Vijay Nagar</p>
            
                    <div class="details-btn">
                      <a class="btn1" href="">View Details</a>
                      <a class="btn2" href="">OPEN</a>
                    </div>
            
                    <div class="detail-card">
                      <p class="detail-card-text1">Regular</p>
                      <p class="detail-card-text">Oct 05, 7:00PM</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="">
                  <div class="order-card-body">
                    <h5>Apna Sweets</h5>
                    <p class="card-details-text font-small-3">Vijay Nagar</p>
            
                    <div class="details-btn">
                      <a class="btn1" href="">View Details</a>
                      <a class="btn2" href="">OPEN</a>
                    </div>
            
                    <div class="detail-card">
                      <p class="detail-card-text1">Regular</p>
                      <p class="detail-card-text">Oct 05, 7:00PM</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="outlet-row match-height">
                <!-- Congratulations Card -->
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="">
                    <div class="order-card-body">
                      <h5>Apna Sweets</h5>
                      <p class="card-details-text font-small-3">Vijay Nagar</p>
              
                      <div class="details-btn">
                        <a class="btn1" href="">View Details</a>
                        <a class="btn2" href="">OPEN</a>
                      </div>
              
                      <div class="detail-card">
                        <p class="detail-card-text1">Regular</p>
                        <p class="detail-card-text">Oct 05, 7:00PM</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="">
                    <div class="order-card-body">
                      <h5>Apna Sweets</h5>
                      <p class="card-details-text font-small-3">Vijay Nagar</p>
              
                      <div class="details-btn">
                        <a class="btn1" href="">View Details</a>
                        <a class="btn2" href="">OPEN</a>
                      </div>
              
                      <div class="detail-card">
                        <p class="detail-card-text1">Regular</p>
                        <p class="detail-card-text">Oct 05, 7:00PM</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="">
                    <div class="order-card-body">
                      <h5>Apna Sweets</h5>
                      <p class="card-details-text font-small-3">Vijay Nagar</p>
              
                      <div class="details-btn">
                        <a class="btn1" href="">View Details</a>
                        <a class="btn2" href="">OPEN</a>
                      </div>
              
                      <div class="detail-card">
                        <p class="detail-card-text1">Regular</p>
                        <p class="detail-card-text">Oct 05, 7:00PM</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>