<div class="content-wrapper container-xxl ">
  <div class="content-body">
    <!-- Basic Alerts start -->
    <section id=" home-page">
      <div class="row">
        <div class="col-12">
          <div class="shadow-card">
            <div class="shadow-card-body statistics-body">
              <div class="row">
                <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Sales</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-2 mb-xl-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Order Count</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3 mb-2 mb-sm-0">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Discount</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                  <div class="media">
                    <div class="media-body my-auto">
                      <h4 class="font-weight-normal  mb-0">Total Net Profit</h4>
                      <p class="card-text mb-0">0</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- outlet cards -->
    <!--  -->

    <!-- outlet cards -->



    <!-- Basic Alerts end -->
  </div>
</div>










<!-- new outlet hbcidevicf   rjfhuihuirehfuirehruieh  uihrfurheurehruehuh  uihrhuihuehruirehuheierhtierhfroenmfkoernfrjefnc jwemcrjwknfijwrbvjnajoknvcpikawrnvkWnfgkonegk -->